* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/*********************/
/* MAIN PAGE STYLES */
/********************/

body {
  background: dodgerblue;
  font-family: sans-serif;
}

.input-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 12px;
}

.input-container__description {
  margin: 1rem 1rem 1rem 0;
}

.input-container__getcontent {
  background: rgb(120, 134, 156);
  font-weight: 700;
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.releases {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 0.6fr);
  gap: 1em;
  margin: 1rem;
}

.releases-album {
  background: honeydew;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  padding: 1rem;
}

.releases-album__title {
  margin: 0.5rem;
  text-align: center;
}

.releases-album__cover {
  margin: 0 auto;
}

.releases-album__year {
  margin: 0 auto;
  font-weight: 700;
  padding: 1rem;
}

.releases-album__details {
  justify-self: center;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background: lightblue;
}

/****************/
/* MODAL STYLES*/
/***************/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 200;
  top: 1%;
  left: 20%;
  width: 50%;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.details-artist {
  text-align: center;
}

.details-cover {
  padding: 0.5rem 0.5rem;
  margin: 0 auto;
}

.details-container {
  margin: 0.8rem;
  font-weight: 700;
}

.details-container > * {
  margin-bottom: 12px;
}

.details-tracklist {
  margin: 1rem 1rem 0rem 1rem;
}

.details-tracklist__tracks {
  margin: 1.5rem;
}

.details-videos {
  margin: 1.25rem 0 1.25rem 0;
  list-style-type: none;
}

@media (min-width: 600px) {
  .releases {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.6fr);
    transition: all 1s ease;
  }
  .modal {
    width: 40%;
    left: 32%;
  }
}

@media (min-width: 1200px) {
  * {
    font-size: 1.025em;
  }
  .releases {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 0.6fr);
    transition: all 1s ease;
  }
  .modal {
    width: 45%;
    left: 27%;
  }
}

/***************/
/**** UTILS ***/
/***************/

.alert {
  background: #fffa9f;
  font-size: 1.5rem;
  margin: 1rem 2rem 1rem 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-bck-center {
  -webkit-animation: slide-out-bck-center 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-center 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
